{
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "checkIgnorePragma": false,
  "cursorOffset": -1,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "trailingComma": "all",
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "experimentalOperatorPosition": "start",
  "experimentalTernaries": false,
  "insertPragma": false,
  "htmlWhitespaceSensitivity": "css",
  "jsxSingleQuote": false,
  "objectWrap": "preserve",
  "printWidth": 100,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "singleAttributePerLine": false
}
